name: Pull Request

on:
  pull_request:
    branches: [ "main" ]

jobs:
  momento-shared-build:
    runs-on: ubuntu-latest
    steps:
      - uses: momentohq/standards-and-practices/github-actions/shared-build@gh-actions-v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  rubocop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: rubocop
        uses: reviewdog/action-rubocop@v2
        with:
          rubocop_version: gemfile
          rubocop_extensions: rubocop-performance:gemfile rubocop-rake:gemfile rubocop-rspec:gemfile
          reporter: github-pr-review

  test:
    # Don't test until all code is generated.
    needs: [readme]
    uses: ./.github/workflows/test.yml
    secrets:
      api-key: ${{ secrets.ALPHA_TEST_AUTH_TOKEN }}

  readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Verify README generation
        uses: momentohq/standards-and-practices/github-actions/oss-readme-template@gh-actions-v2
        with:
          project_status: official
          project_stability: stable
          project_type: sdk
          sdk_language: Ruby
          template_file: ./README.template.md
          output_file: ./README.md
          dev_docs_slug: ruby

  dry-run-release:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v3

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1

      - run: bundle exec rake release --dry-run
